{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>doğa göçmener</title>
        <meta name="description" content="Read is a minimalistici html template." />
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Radley:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    </head>
<body>
  <header class="header-block row">
    <div class="blog-title">
      <h1>doğa.</h1>
    </div>
  </header>

<section class="post-list row">
{% for post in posts %}

  <div class="col-xs-12 col-sm-12 col-lg-12 post-line">
    <span class="post-titles"><a href="post.html"><h1>{{ post.title }}</h1></a></span>
    <time class="dates"><br/>{{ post.published_date }}</time>

  </div>
{% endfor %}



</section>

</body>
</html>